{% load static %}

<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact Us</h2>
        </div>

        <div class="row">

            <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>Metrowalk Commercial Complex Brgy. Ugong Cor Meralco Ave. Pasig City 1604</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>bookingfastlab@gmail.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p><span style="color: #78cede;">917-888-</span><em>FAST</em></p>
                    </div>

                    <iframe allowfullscreen=""
                            height="300" loading="lazy"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3861.2106214930354!2d121.06255091535179!3d14.587070981317604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c8108995e2b9%3A0xb200123f27577ca1!2sMetrowalk%20Commercial%20Complex!5e0!3m2!1sen!2sph!4v1619047248173!5m2!1sen!2sph"
                            style="border:0;" width="400"></iframe>
                </div>

            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form class="php-email-form" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name">Your Name</label>
                            {{ form.name }}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="id_from_email">Your Email</label>
                            {{ form.from_email }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_subject">Subject</label>
                        {{ form.subject }}
                    </div>
                    <div class="form-group">
                        <label for="id_message">Message</label>
                        {{ form.message }}
                    </div>

                    <div class="text-center">
                        <button type="submit">Send Message</button>
                    </div>
                </form>
            </div>

        </div>


    </div>
</section>