{% load static %}
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-7 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                 data-aos="fade-up" data-aos-delay="200">
                <h1>Fight Covid</h1>
                <h2>We are open until 5 PM – 7 days a week<br>
                    <span style="color: #5ed2e1;"><strong>OPEN DURING MECQ</strong></span></h2>
                <h1><span style="color: #5ed2e1;">917-888-</span><em>FAST</em> or <span style="color: #5ed2e1;">918-888-</span><em>FAST</em></h1>

                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="{% url 'book_now' %}" class="btn-get-started scrollto">BOOK A DRIVE THRU TEST</a>
                </div>
            </div>

        </div>
    </div>

</section><!-- End Hero -->