{% load static %}
<div class="col">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Corporate DataTable</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>User Account</th>
                    <th>Reference Number</th>
                    <th>Full Name</th>
                    <th>Scheduled Date/Time</th>
                    <th>Test Location</th>
                    <th>Test Choice</th>
                    <th>Payment Status</th>
                    <th>Test Status</th>
                    <th>Result Status</th>
                    <th>Result Mail</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                {% for data in data %}
                <tr>
                    <th scope="row">{{ data.user }}</a></th>
                    <td>{{ data.reference_number }}</a></td>
                    <td>{{ data.last_name }}, {{ data.first_name }} {{ data.middle_name }}</td>
                    <td>{{ data.booking_date }} - {{ data.time }}</td>
                    <td>{{ data.test_location }}</td>
                    <td>{{ data.product }}</td>
                    <td>{{ data.payment_status }}</td>
                    <td>{{ data.pending_test }}</td>
                    <td>{{ data.pending_result }}</td>
                    <td>{{ data.result_sent }}</td>
                    <td><a href="{{data.get_absolute_url}}" class="btn btn-info" role="button" aria-pressed="true">View</a>
                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>