{% extends 'accounts/base.html' %}
{%load static%}
{% block content %}

<main class="form-signin">
    <div class="signin-logo">
        <h1><i><strong>Fast</strong>Lab<sup><span style="color: #78cede;">+</span></sup></i></h1>
    </div>
    <div class="card">
        <div class="card-body">
            <h4>Enter new password</h4>
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
            <form method="POST">
                {%csrf_token%}
                <div class="form-floating">
                    <input type="password" name="old_password" required="" class="form-control" id="id_old_password">
                    <label for="id_old_password">Old password:</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="new_password1" required="" class="form-control" id="id_new_password1">
                    <label for="id_new_password1">New password:</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="new_password2" required="" class="form-control" id="id_new_password2">
                    <label for="id_new_password2">Confirm password:</label>
                </div>
                <input class="w-100 btn btn-primary" type="submit" value="Change Password">
            </form>
        </div>
    </div>
</main>
{% endblock %}
