{% extends 'accounts/base.html' %}
{%load static%}
{% block content %}

<main class="form-signin">
    <div class="signin-logo">
        <h1><i><strong>Fast</strong>Lab<sup><span style="color: #78cede;">+</span></sup></i></h1>
    </div>
    <div class="card">
        <div class="card-body">

            <p><strong>Password reset sent</strong></p>

            <p>We’ve emailed you instructions for setting your password, if an account exists with the email you
                entered. You should receive them shortly.</p>

            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check
                your spam folder.</p>
        </div>
    </div>
</main>
{% endblock %}
