<div class="container-fluid">
    <form method="GET" action=".">
        <div class="form-row align-items-center justify-content-center pt-1">
            <div class="form-group col-lg-3 col-md-2 ">
                <label for="reference_number">Reference Number</label>
                <input type="text" min=0 class="form-control" id="reference_number"
                       name="reference_number">
            </div>
            <div class="form-group col-lg-1 col-md-2">
                <label for="payment_status">Payment Status</label>
                <select id="payment_status" class="form-control" name="payment_status">
                    <option selected></option>
                    <option value="PENDING">Pending</option>
                    <option value="VERIFIED">Verified</option>
                </select>
            </div>
            <div class="form-group col-lg-1 col-md-2">
                <label for="test_result_status">Test Result Status</label>
                <select id="test_result_status" class="form-control" name="test_result_status">
                    <option selected></option>
                    <option value="PENDING">Pending</option>
                    <option value="COMPLETED">Completed</option>
                </select>
            </div>
            <div class="form-group col-lg-2 col-md-2">
                <label for="date_day">Appointment by Day</label>
                <input type="date" class="form-control" id="date_day" name="date_day">
            </div>
            <div class="form-group col-lg-1 col-md-2">
                <label for="date_month">By Month</label>
                <select id="date_month" class="form-control" name="date_month">
                    <option selected></option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </div>
            <div class="form-group col-lg-1 col-md-1">
                <label for="date_year">By Year</label>
                <input type="text" class="form-control" id="date_year" name="date_year">
            </div>

            <div class="form-group col-md-1 col-lg-1">
                <hr style="border-top: 1px solid rgba(0, 0, 0, 0);">
                <button id="submit" type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
</div>