{% extends 'homepage/widgets/base.html' %}
{% load static %}
{% block title %}Error{% endblock title%}

{% block content %}

<section id="contact" class="contact">
    <div class="container pt-5" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact Us</h2>
        </div>

        <div class="row">

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                <div class="info">
                    <h4 class="text-danger">Need More Slot?</h4>
                    <p class="text-danger">Aww yeah, you successfully read this important alert message. This example text is going to
                        run a bit longer so that you can see how spacing within an alert works with this kind of
                        content.</p>
                    <hr>
                    <p class="mb-0 text-danger">Whenever you need to, be sure to use margin utilities to keep things nice and
                        tidy.</p>
                </div>

            </div>

            <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>Metrowalk Commercial Complex Brgy. Ugong Cor Meralco Ave. Pasig City 1604</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>bookingfastlab@gmail.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p><span style="color: #78cede;">917-888-</span><em>FAST</em></p>
                    </div>

                </div>

            </div>

        </div>


    </div>
</section>
{% endblock content %}