{% extends 'datamgt/widgets/base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <div class="invoice p-3 mb-3">
        <form method="POST">
            {% csrf_token %}
            <div class="row pb-5">
                <div class="col-lg-7">
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            Booking Reference Number:
                        </div>
                        <div class="col-sm-7">
                            <b>{{data.reference_number.reference_number}}</b>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            Service Choice:
                        </div>
                        <div class="col-sm-7">
                            <b>{{data.reference_number.product}}</b>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            Client Reference Number:
                        </div>
                        <div class="col-sm-7">
                            <b>{{data.client_id}}</b>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            Name:
                        </div>
                        <div class="col-sm-7">
                            <b>{{ data.last_name }}, {{ data.first_name }} {{ data.middle_name }} </b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            Contact Number:
                        </div>
                        <div class="col-sm-8">
                            {{ data.contact_number }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            Email:
                        </div>
                        <div class="col-sm-8">
                            {{ data.email }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            Address:
                        </div>
                        <div class="col-sm-8">
                            {{ data.address }}
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 table-responsive">
                    <p class="lead"><strong>Status</strong></p>
                    <table class="table table-striped">

                        <tbody>
                        <tr>
                            <td>Payment Status</td>
                            <td>{{ data.reference_number.payment_status }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Test Status</td>
                            <td>{{ form.pending_test }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Result Status</td>
                            <td>{{ data.pending_result }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Result Mail</td>
                            <td>{{ data.result_sent }}</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-lg-1">
                    <a href="{% url 'view_clients' %}" class="btn btn-danger" role="button"
                       aria-pressed="true">Back</a>
                </div>

                <div class="col-lg-1">
                    <input type="submit" class="btn btn-info" role="button" value="Update">
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock %}