<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Clients Table</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Reference Number</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Payment Status</th>
                    <th>Test Result Status</th>
                </tr>
                </thead>
                <tbody>

                {% for client in object_list %}
                <tr>
                    <th>{{client.c_ticket}}</th>
                    <td>{{ client.f_name }}</td>
                    <td>{{ client.l_name }}</td>
                    <td>{{client.payment}}</td>
                    <td>{{client.test_result}}</td>
                </tr>
                {% endfor %}

                </tbody>

            </table>
        </div>
    </div>
</div>